* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  min-height: 100vh;
  background-color: #c3bcbc;
}

.presentation-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  box-shadow: 5px 0 10px 10px rgb(0, 0, 0, 0.3);
  background: #d009b5;
  grid-row: 1/2;
  padding: 30px;
}
.presentation-container h1 {
  font-size: 32px;
  color: white;
}
.presentation-container button {
  border: 1px solid #4592e0;
  padding: 15px 20px;
  border-radius: 5px;
  background-color: #4592e0;
  color: white;
  font-size: 17px;
  cursor: pointer;
  font-weight: 700;
  transition: all 0.1s;
}
.presentation-container button:hover {
  background-color: white;
  outline: 2px solid #4592e0;
  color: #4592e0;
  box-shadow: 0 0 5px 1px rgb(0, 0, 0, 0.3);
}
dialog {
  align-self: center;
  justify-self: center;
  border: 3px solid #4592e0;
  border-radius: 10px;
  box-shadow: 0 0 5px 1px rgb(0, 0, 0, 0.3);
}

form {
  display: flex;
  flex-direction: column;
  padding: 30px 70px;
  gap: 20px;
}
form div * {
  display: block;
}
#read-id > * {
  display: inline;
  align-self: flex-start;
}
.modal-btn {
  display: flex;
  justify-content: space-between;
}
.modal-btn button {
  padding: 4px 8px;
  border: 1px solid;
  border-radius: 5px;
  background-color: #4592e0;
  color: white;
  font-size: 17px;
  cursor: pointer;
  transition: all 0.1s;
}

.modal-btn button:hover {
  background-color: white;
  color: #4592e0;
  outline: 2px solid #4592e0;
}
input {
  border: 1px solid black;
  padding: 4px 5px;
  border-radius: 5px;
  border: 1px solid rgb(166, 169, 169);
}
input:focus {
  border-color: #4592e0;
  outline: none;
}
label {
  color: #d009b5;
}
.books-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 15px 30px;
}
.book {
  background-color: green;
  height: 300px;
  width: calc(
    (100% - 60px) / 5
  ); /* Adjust width for 6 books considering 15px gap */
  border: 1px solid #4592e0;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  transition: all 0.1s;
}
.book button {
  padding: 4px 8px;
  border: 1px solid;
  border-radius: 5px;
  background-color: #4592e0;
  color: white;
  font-size: 17px;
  cursor: pointer;
  transition: all 0.1s;
}
.book button:hover {
  background-color: white;
  color: #4592e0;
  outline: 2px solid #4592e0;
}
